<form class="container" action="/analyze" method="POST">
  <div class="form-group col-offset-sm-2">
    <label>Search</label>
    <input class="form-control" id="main-search" name="searchWord" placeholder="Enter keyword(s) here.">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>